
.playerName{
    font-family: 'Orbitron', sans-serif;
}

.life{
    font-family: 'Orbitron', sans-serif;
}

.score{
    font-family: 'Orbitron', sans-serif;
}

.machineInfo{
    font-family: 'Orbitron', sans-serif;
}

.gameOver{
    font-family: 'Orbitron', sans-serif;
}

.description{
    font-family: 'Orbitron', sans-serif;
}

.nameSet{
    font-family: 'Orbitron', sans-serif;
}

.gameClear{
    font-family: 'Orbitron', sans-serif;
}